* {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  /* background-color: #50b6de; */
  font-family: "Exo", sans-serif;
}
.nav-container {
  height: 5vh;
  border: 3px solid black;
  display: flex;
}
nav {
  justify-content: space-around;
  height: 5vh;
  display: flex;
}
.nav-link {
  justify-content: space-around;
  align-items: right;
}
.top-container {
  height: 25vh;
  border: 3px solid black;
  display: flex;
}
.bottom-container {
  height: 25vh;
  border: 3px solid black;
  display: flex;
}
.middle-container {
  height: 50vh;
  border: 3px solid black;
  display: flex;
}
.each {
  display: flex;
  justify-content: space-evenly;
  height: 5vh;
  align-items: center;
  flex-direction: column;
}
.profile-pic {
  height: 45vh;
  width: 15vw;
  justify-content: center;

  /* border: 1px solid blue; */
}
.bio {
  height: 35vh;
  border: 1px solid red;
  z-index: -10;
}

.nav-link {
  display: flex;
  justify-content: center;
}
/* h5 {
  font-size: 20px;
}
h1 {
  font-size: 50px;
}
h1:hover {
  color: gray;
  opacity: 70%;
}
h4 {
  font-size: 20px;
} */
.footer-container {
  height: 10vh;
  background-color: black;
}
#favorites {
  display: flex;
}
